<center><b><u><h1>Movie Recommendation Engine<br>Data Cleaning</h1></u></b></center>

In [1]:
# Importing librarires
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# Load the data
from google.colab import files
uploaded = files.upload()

Saving IMDb-Movie.csv to IMDb-Movie.csv

In [3]:
# Storing the data
df = pd.read_csv('/content/IMDb-Movie.csv', encoding='latin1')
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Rank                        Title  ... Votes language
0     1                   Miss Jerry  ...   154     None
1     2  The Story of the Kelly Gang  ...   589     None
2     3               Den sorte drÃ¸  ...   188      NaN
3     4                    Cleopatra  ...   446  English
4     5                    L'Inferno  ...  2237  Italian

[5 rows x 11 columns]

In [4]:
# checking shape of the dataset
df.shape

(85855, 11)

In [5]:
# checking for null or nan values
df.isna()

        Rank  Title  Genre  ...  Rating  Votes  language
0      False  False  False  ...   False  False     False
1      False  False  False  ...   False  False     False
2      False  False  False  ...   False  False      True
3      False  False  False  ...   False  False     False
4      False  False  False  ...   False  False     False
...      ...    ...    ...  ...     ...    ...       ...
85850  False  False  False  ...   False  False     False
85851  False  False  False  ...   False  False     False
85852  False  False  False  ...   False  False     False
85853  False  False  False  ...   False  False     False
85854  False  False  False  ...   False  False     False

[85855 rows x 11 columns]

In [6]:
# counting number of null or nan values in each column
df.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description          2115
Director               87
Actors                 69
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
language              833
dtype: int64

In [7]:
# removing all rows which consists of null or nan values
df = df.dropna()

In [8]:
# counting number of null or nan values in each column
df.isna().sum()

Rank                 0
Title                0
Genre                0
Description          0
Director             0
Actors               0
Year                 0
Runtime (Minutes)    0
Rating               0
Votes                0
language             0
dtype: int64

In [9]:
# checking for the number of duplicate valies in entire dataset
df.duplicated().sum()

0

In [10]:
# checking shape of the dataset
df.shape

(82806, 11)

In [11]:
# creating a new column to index all the movies
df['Movie_id'] = range(0,df.shape[0])

In [12]:
# checking shape of the dataset
df.shape

(82806, 12)

In [13]:
# viewing all important features column of the recomendation engine
columns = ['Actors', 'Director', 'Genre', 'Title', 'Rating']
df[columns].head(3)

                                              Actors  ... Rating
0  Blanche Bayliss, William Courtenay, Chauncey D...  ...    5.9
1  Elizabeth Tait, John Tait, Norman Campbell, Be...  ...    6.1
3  Helen Gardner, Pearl Sindelar, Miss Fielding, ...  ...    5.2

[3 rows x 5 columns]

In [14]:
# viewing the cleaned data
df.head()

   Rank                                              Title  ... language Movie_id
0     1                                         Miss Jerry  ...     None        0
1     2                        The Story of the Kelly Gang  ...     None        1
3     4                                          Cleopatra  ...  English        2
4     5                                          L'Inferno  ...  Italian        3
5     6  From the Manger to the Cross; or, Jesus of Naz...  ...  English        4

[5 rows x 12 columns]

In [15]:
# exporting the cleaned data
df.to_csv('/content/Cleaned_Movie_data.csv', index = False)

<center><b><u><h1><br>Movie Recommendation</h1></u></b></center>

In [42]:
# Adding new column to hold Movie_ID
df['Movie_id'] = range(0,df.shape[0])

In [43]:
# Functions to combine values of important columns into a single string
def get_important_features(data):
    important_features = []
    for i in range(0, data.shape[0]):
        important_features.append(data['Actors'][i] + ' ' + data['Director'][i] + ' ' + data['Genre'][i] + ' ' + data['Title'][i] + ' ' + str(data['Rating'][i]))
    return important_features

In [44]:
# Create a column to hold the combined string
df['important_features'] = get_important_features(df)
# Show data
df.head(3)

   Rank  ...                                 important_features
0     1  ...  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
1     2  ...  Noomi Rapace, Logan Marshall-Green, Michael Fa...
2     3  ...  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...

[3 rows x 14 columns]

In [45]:
# Convert Text to Matrix of token counts
# It is used to transform a given text into a vector on the basis of the frequency (count) of each word that occurs in the entire text.
cm = CountVectorizer().fit_transform(df['important_features'])

In [46]:
# Get the Cosine Similarity Martix from count Matrix
# it measures the cosine angle between two vectors in a multi-dimensional space
cs = cosine_similarity(cm)
# Print Cosine Similarity matrix
print(cs)

[[1.         0.1767767  0.06085806 ... 0.0571662  0.06537205 0.        ]
 [0.1767767  1.         0.         ... 0.         0.06933752 0.        ]
 [0.06085806 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.0571662  0.         0.         ... 1.         0.06726728 0.        ]
 [0.06537205 0.06933752 0.         ... 0.06726728 1.         0.07161149]
 [0.         0.         0.         ... 0.         0.07161149 1.        ]]

In [47]:
# Get the title of movie that user likes
title = input("Enter Movie that you would like to get Recommendations for : ")

# Find the Movie's id
movie_id = df[df.Title == title]['Movie_id'].values[0]

Enter Movie that you would like to get Recommendations for : The Avengers

In [48]:
# Create a list of enumerations for the similarity score [(movie_id, similarity score), (...), ....]
scores = list(enumerate(cs[movie_id]))

In [49]:
# Sorting the list
sorted_scores = sorted(scores, key = lambda x : x[1], reverse = True)
sorted_scores = sorted_scores[1:]

In [50]:
# Print the sorted scores
print(sorted_scores)

[(94, 0.6546536707079773), (35, 0.5735393346764044), (216, 0.516185401208764), (203, 0.3638034375544995), (450, 0.3638034375544995), (279, 0.3535533905932738), (494, 0.3535533905932738), (195, 0.34412360080584264), (64, 0.3125), (315, 0.3125), (533, 0.3125), (0, 0.2946278254943948), (708, 0.2946278254943948), (761, 0.2946278254943948), (875, 0.2946278254943948), (19, 0.2581988897471611), (140, 0.2581988897471611), (173, 0.2581988897471611), (588, 0.2581988897471611), (97, 0.25), (257, 0.25), (281, 0.25), (529, 0.25), (48, 0.24253562503633297), (85, 0.24253562503633297), (362, 0.24253562503633297), (388, 0.24253562503633297), (396, 0.24253562503633297), (799, 0.24253562503633297), (253, 0.23570226039551587), (316, 0.23570226039551587), (371, 0.23570226039551587), (34, 0.22941573387056174), (177, 0.22941573387056174), (429, 0.22941573387056174), (465, 0.22941573387056174), (710, 0.22941573387056174), (500, 0.22360679774997896), (566, 0.22360679774997896), (784, 0.22360679774997896), (822, 0.22360679774997896), (408, 0.2182178902359924), (558, 0.2182178902359924), (680, 0.2182178902359924), (256, 0.2004459314343183), (370, 0.2004459314343183), (446, 0.2004459314343183), (492, 0.2004459314343183), (212, 0.19364916731037082), (227, 0.19364916731037082), (277, 0.19364916731037082), (354, 0.19364916731037082), (468, 0.19364916731037082), (472, 0.19364916731037082), (512, 0.19364916731037082), (526, 0.19364916731037082), (577, 0.19364916731037082), (687, 0.19364916731037082), (766, 0.19364916731037082), (904, 0.19364916731037082), (944, 0.19364916731037082), (12, 0.1875), (32, 0.1875), (38, 0.1875), (80, 0.1875), (102, 0.1875), (205, 0.1875), (220, 0.1875), (287, 0.1875), (323, 0.1875), (389, 0.1875), (454, 0.1875), (481, 0.1875), (528, 0.1875), (532, 0.1875), (541, 0.1875), (542, 0.1875), (552, 0.1875), (553, 0.1875), (576, 0.1875), (672, 0.1875), (673, 0.1875), (764, 0.1875), (774, 0.1875), (781, 0.1875), (924, 0.1875), (954, 0.1875), (8, 0.18190171877724973), (24, 0.18190171877724973), (112, 0.18190171877724973), (151, 0.18190171877724973), (154, 0.18190171877724973), (200, 0.18190171877724973), (214, 0.18190171877724973), (233, 0.18190171877724973), (268, 0.18190171877724973), (433, 0.18190171877724973), (690, 0.18190171877724973), (706, 0.18190171877724973), (878, 0.18190171877724973), (962, 0.18190171877724973), (67, 0.1767766952966369), (126, 0.1767766952966369), (155, 0.1767766952966369), (234, 0.1767766952966369), (243, 0.1767766952966369), (302, 0.1767766952966369), (384, 0.1767766952966369), (564, 0.1767766952966369), (948, 0.1767766952966369), (60, 0.1720618004029213), (110, 0.1720618004029213), (156, 0.1720618004029213), (162, 0.1720618004029213), (460, 0.1720618004029213), (961, 0.1720618004029213), (683, 0.16770509831248423), (739, 0.1599005372667078), (308, 0.1563858105428061), (244, 0.15309310892394865), (767, 0.15309310892394865), (176, 0.15000000000000002), (313, 0.14708710135363803), (613, 0.14708710135363803), (317, 0.1386750490563073), (769, 0.1386750490563073), (844, 0.1386750490563073), (3, 0.1336306209562122), (26, 0.1336306209562122), (71, 0.1336306209562122), (89, 0.1336306209562122), (101, 0.1336306209562122), (106, 0.1336306209562122), (183, 0.1336306209562122), (204, 0.1336306209562122), (228, 0.1336306209562122), (386, 0.1336306209562122), (497, 0.1336306209562122), (802, 0.1336306209562122), (828, 0.1336306209562122), (29, 0.12909944487358055), (36, 0.12909944487358055), (121, 0.12909944487358055), (217, 0.12909944487358055), (229, 0.12909944487358055), (239, 0.12909944487358055), (334, 0.12909944487358055), (379, 0.12909944487358055), (391, 0.12909944487358055), (398, 0.12909944487358055), (463, 0.12909944487358055), (509, 0.12909944487358055), (557, 0.12909944487358055), (559, 0.12909944487358055), (572, 0.12909944487358055), (598, 0.12909944487358055), (616, 0.12909944487358055), (663, 0.12909944487358055), (702, 0.12909944487358055), (728, 0.12909944487358055), (731, 0.12909944487358055), (753, 0.12909944487358055), (755, 0.12909944487358055), (759, 0.12909944487358055), (771, 0.12909944487358055), (884, 0.12909944487358055), (895, 0.12909944487358055), (898, 0.12909944487358055), (908, 0.12909944487358055), (943, 0.12909944487358055), (1, 0.125), (5, 0.125), (54, 0.125), (95, 0.125), (104, 0.125), (109, 0.125), (124, 0.125), (131, 0.125), (193, 0.125), (300, 0.125), (345, 0.125), (368, 0.125), (427, 0.125), (436, 0.125), (461, 0.125), (469, 0.125), (490, 0.125), (537, 0.125), (545, 0.125), (581, 0.125), (636, 0.125), (644, 0.125), (697, 0.125), (704, 0.125), (724, 0.125), (758, 0.125), (791, 0.125), (853, 0.125), (872, 0.125), (913, 0.125), (969, 0.125), (15, 0.12126781251816648), (65, 0.12126781251816648), (107, 0.12126781251816648), (246, 0.12126781251816648), (267, 0.12126781251816648), (286, 0.12126781251816648), (326, 0.12126781251816648), (491, 0.12126781251816648), (495, 0.12126781251816648), (525, 0.12126781251816648), (575, 0.12126781251816648), (626, 0.12126781251816648), (741, 0.12126781251816648), (779, 0.12126781251816648), (879, 0.12126781251816648), (916, 0.12126781251816648), (919, 0.12126781251816648), (938, 0.12126781251816648), (941, 0.12126781251816648), (967, 0.12126781251816648), (997, 0.12126781251816648), (163, 0.11785113019775793), (181, 0.11785113019775793), (325, 0.11785113019775793), (827, 0.11785113019775793), (837, 0.11785113019775793), (990, 0.11785113019775793), (50, 0.11470786693528087), (158, 0.11470786693528087), (366, 0.11470786693528087), (560, 0.11470786693528087), (604, 0.11470786693528087), (609, 0.11470786693528087), (921, 0.11470786693528087), (925, 0.11470786693528087), (45, 0.11180339887498948), (62, 0.11180339887498948), (75, 0.11180339887498948), (78, 0.11180339887498948), (252, 0.11180339887498948), (518, 0.11180339887498948), (978, 0.11180339887498948), (135, 0.1091089451179962), (209, 0.1091089451179962), (223, 0.1091089451179962), (264, 0.1091089451179962), (510, 0.1091089451179962), (578, 0.1091089451179962), (679, 0.1091089451179962), (803, 0.1091089451179962), (843, 0.1091089451179962), (935, 0.1091089451179962), (806, 0.10660035817780521), (911, 0.10660035817780521), (314, 0.10425720702853739), (614, 0.10425720702853739), (629, 0.10206207261596577), (988, 0.07216878364870323), (255, 0.06933752452815364), (284, 0.06933752452815364), (351, 0.06933752452815364), (394, 0.06933752452815364), (410, 0.06933752452815364), (421, 0.06933752452815364), (437, 0.06933752452815364), (624, 0.06933752452815364), (631, 0.06933752452815364), (659, 0.06933752452815364), (678, 0.06933752452815364), (722, 0.06933752452815364), (730, 0.06933752452815364), (740, 0.06933752452815364), (845, 0.06933752452815364), (890, 0.06933752452815364), (928, 0.06933752452815364), (932, 0.06933752452815364), (942, 0.06933752452815364), (9, 0.0668153104781061), (30, 0.0668153104781061), (47, 0.0668153104781061), (49, 0.0668153104781061), (79, 0.0668153104781061), (87, 0.0668153104781061), (91, 0.0668153104781061), (92, 0.0668153104781061), (113, 0.0668153104781061), (123, 0.0668153104781061), (134, 0.0668153104781061), (149, 0.0668153104781061), (165, 0.0668153104781061), (169, 0.0668153104781061), (174, 0.0668153104781061), (175, 0.0668153104781061), (194, 0.0668153104781061), (240, 0.0668153104781061), (248, 0.0668153104781061), (266, 0.0668153104781061), (270, 0.0668153104781061), (275, 0.0668153104781061), (285, 0.0668153104781061), (288, 0.0668153104781061), (293, 0.0668153104781061), (295, 0.0668153104781061), (312, 0.0668153104781061), (322, 0.0668153104781061), (329, 0.0668153104781061), (352, 0.0668153104781061), (372, 0.0668153104781061), (373, 0.0668153104781061), (375, 0.0668153104781061), (382, 0.0668153104781061), (390, 0.0668153104781061), (400, 0.0668153104781061), (401, 0.0668153104781061), (416, 0.0668153104781061), (420, 0.0668153104781061), (444, 0.0668153104781061), (448, 0.0668153104781061), (451, 0.0668153104781061), (452, 0.0668153104781061), (466, 0.0668153104781061), (482, 0.0668153104781061), (511, 0.0668153104781061), (517, 0.0668153104781061), (522, 0.0668153104781061), (587, 0.0668153104781061), (599, 0.0668153104781061), (623, 0.0668153104781061), (639, 0.0668153104781061), (642, 0.0668153104781061), (654, 0.0668153104781061), (675, 0.0668153104781061), (699, 0.0668153104781061), (718, 0.0668153104781061), (729, 0.0668153104781061), (763, 0.0668153104781061), (777, 0.0668153104781061), (786, 0.0668153104781061), (789, 0.0668153104781061), (834, 0.0668153104781061), (850, 0.0668153104781061), (856, 0.0668153104781061), (920, 0.0668153104781061), (946, 0.0668153104781061), (951, 0.0668153104781061), (956, 0.0668153104781061), (968, 0.0668153104781061), (987, 0.0668153104781061), (4, 0.06454972243679027), (14, 0.06454972243679027), (17, 0.06454972243679027), (21, 0.06454972243679027), (33, 0.06454972243679027), (53, 0.06454972243679027), (69, 0.06454972243679027), (84, 0.06454972243679027), (99, 0.06454972243679027), (117, 0.06454972243679027), (137, 0.06454972243679027), (147, 0.06454972243679027), (150, 0.06454972243679027), (153, 0.06454972243679027), (159, 0.06454972243679027), (161, 0.06454972243679027), (164, 0.06454972243679027), (172, 0.06454972243679027), (178, 0.06454972243679027), (179, 0.06454972243679027), (210, 0.06454972243679027), (213, 0.06454972243679027), (222, 0.06454972243679027), (226, 0.06454972243679027), (232, 0.06454972243679027), (237, 0.06454972243679027), (254, 0.06454972243679027), (298, 0.06454972243679027), (301, 0.06454972243679027), (303, 0.06454972243679027), (318, 0.06454972243679027), (319, 0.06454972243679027), (324, 0.06454972243679027), (328, 0.06454972243679027), (331, 0.06454972243679027), (340, 0.06454972243679027), (341, 0.06454972243679027), (344, 0.06454972243679027), (355, 0.06454972243679027), (369, 0.06454972243679027), (385, 0.06454972243679027), (402, 0.06454972243679027), (453, 0.06454972243679027), (456, 0.06454972243679027), (484, 0.06454972243679027), (493, 0.06454972243679027), (520, 0.06454972243679027), (521, 0.06454972243679027), (536, 0.06454972243679027), (540, 0.06454972243679027), (543, 0.06454972243679027), (580, 0.06454972243679027), (592, 0.06454972243679027), (597, 0.06454972243679027), (600, 0.06454972243679027), (618, 0.06454972243679027), (621, 0.06454972243679027), (625, 0.06454972243679027), (627, 0.06454972243679027), (649, 0.06454972243679027), (676, 0.06454972243679027), (693, 0.06454972243679027), (707, 0.06454972243679027), (717, 0.06454972243679027), (727, 0.06454972243679027), (736, 0.06454972243679027), (780, 0.06454972243679027), (782, 0.06454972243679027), (787, 0.06454972243679027), (796, 0.06454972243679027), (805, 0.06454972243679027), (810, 0.06454972243679027), (833, 0.06454972243679027), (855, 0.06454972243679027), (860, 0.06454972243679027), (880, 0.06454972243679027), (892, 0.06454972243679027), (897, 0.06454972243679027), (914, 0.06454972243679027), (923, 0.06454972243679027), (929, 0.06454972243679027), (958, 0.06454972243679027), (965, 0.06454972243679027), (983, 0.06454972243679027), (42, 0.0625), (51, 0.0625), (70, 0.0625), (116, 0.0625), (125, 0.0625), (129, 0.0625), (141, 0.0625), (142, 0.0625), (168, 0.0625), (190, 0.0625), (196, 0.0625), (198, 0.0625), (199, 0.0625), (219, 0.0625), (221, 0.0625), (249, 0.0625), (272, 0.0625), (276, 0.0625), (283, 0.0625), (294, 0.0625), (297, 0.0625), (342, 0.0625), (343, 0.0625), (358, 0.0625), (387, 0.0625), (404, 0.0625), (405, 0.0625), (406, 0.0625), (414, 0.0625), (424, 0.0625), (432, 0.0625), (475, 0.0625), (527, 0.0625), (555, 0.0625), (570, 0.0625), (585, 0.0625), (593, 0.0625), (596, 0.0625), (601, 0.0625), (603, 0.0625), (612, 0.0625), (615, 0.0625), (660, 0.0625), (661, 0.0625), (685, 0.0625), (705, 0.0625), (733, 0.0625), (737, 0.0625), (746, 0.0625), (770, 0.0625), (775, 0.0625), (794, 0.0625), (819, 0.0625), (835, 0.0625), (854, 0.0625), (858, 0.0625), (869, 0.0625), (886, 0.0625), (887, 0.0625), (901, 0.0625), (912, 0.0625), (927, 0.0625), (934, 0.0625), (936, 0.0625), (940, 0.0625), (979, 0.0625), (993, 0.0625), (37, 0.06063390625908324), (88, 0.06063390625908324), (105, 0.06063390625908324), (166, 0.06063390625908324), (197, 0.06063390625908324), (215, 0.06063390625908324), (224, 0.06063390625908324), (235, 0.06063390625908324), (238, 0.06063390625908324), (271, 0.06063390625908324), (296, 0.06063390625908324), (310, 0.06063390625908324), (336, 0.06063390625908324), (338, 0.06063390625908324), (357, 0.06063390625908324), (367, 0.06063390625908324), (496, 0.06063390625908324), (516, 0.06063390625908324), (550, 0.06063390625908324), (628, 0.06063390625908324), (657, 0.06063390625908324), (698, 0.06063390625908324), (712, 0.06063390625908324), (714, 0.06063390625908324), (732, 0.06063390625908324), (762, 0.06063390625908324), (798, 0.06063390625908324), (807, 0.06063390625908324), (852, 0.06063390625908324), (917, 0.06063390625908324), (982, 0.06063390625908324), (61, 0.05892556509887897), (82, 0.05892556509887897), (132, 0.05892556509887897), (146, 0.05892556509887897), (171, 0.05892556509887897), (290, 0.05892556509887897), (395, 0.05892556509887897), (423, 0.05892556509887897), (438, 0.05892556509887897), (440, 0.05892556509887897), (447, 0.05892556509887897), (535, 0.05892556509887897), (556, 0.05892556509887897), (568, 0.05892556509887897), (617, 0.05892556509887897), (640, 0.05892556509887897), (674, 0.05892556509887897), (696, 0.05892556509887897), (773, 0.05892556509887897), (821, 0.05892556509887897), (831, 0.05892556509887897), (864, 0.05892556509887897), (867, 0.05892556509887897), (868, 0.05892556509887897), (871, 0.05892556509887897), (894, 0.05892556509887897), (903, 0.05892556509887897), (918, 0.05892556509887897), (939, 0.05892556509887897), (43, 0.057353933467640436), (86, 0.057353933467640436), (306, 0.057353933467640436), (425, 0.057353933467640436), (434, 0.057353933467640436), (772, 0.057353933467640436), (809, 0.057353933467640436), (893, 0.057353933467640436), (952, 0.057353933467640436), (114, 0.05590169943749474), (118, 0.05590169943749474), (418, 0.05590169943749474), (422, 0.05590169943749474), (426, 0.05590169943749474), (473, 0.05590169943749474), (476, 0.05590169943749474), (546, 0.05590169943749474), (953, 0.05590169943749474), (260, 0.0545544725589981), (327, 0.053300179088902604), (650, 0.053300179088902604), (862, 0.053300179088902604), (950, 0.053300179088902604), (259, 0.05212860351426869), (619, 0.05212860351426869), (632, 0.05212860351426869), (380, 0.051031036307982884), (745, 0.051031036307982884), (2, 0.0), (6, 0.0), (7, 0.0), (10, 0.0), (11, 0.0), (13, 0.0), (16, 0.0), (18, 0.0), (20, 0.0), (22, 0.0), (23, 0.0), (25, 0.0), (27, 0.0), (28, 0.0), (31, 0.0), (39, 0.0), (40, 0.0), (41, 0.0), (44, 0.0), (46, 0.0), (52, 0.0), (55, 0.0), (56, 0.0), (57, 0.0), (58, 0.0), (59, 0.0), (63, 0.0), (66, 0.0), (68, 0.0), (72, 0.0), (73, 0.0), (74, 0.0), (77, 0.0), (81, 0.0), (83, 0.0), (90, 0.0), (93, 0.0), (96, 0.0), (98, 0.0), (100, 0.0), (103, 0.0), (108, 0.0), (111, 0.0), (115, 0.0), (119, 0.0), (120, 0.0), (122, 0.0), (127, 0.0), (128, 0.0), (130, 0.0), (133, 0.0), (136, 0.0), (138, 0.0), (139, 0.0), (143, 0.0), (144, 0.0), (145, 0.0), (148, 0.0), (152, 0.0), (157, 0.0), (160, 0.0), (167, 0.0), (170, 0.0), (180, 0.0), (182, 0.0), (184, 0.0), (185, 0.0), (186, 0.0), (187, 0.0), (188, 0.0), (189, 0.0), (191, 0.0), (192, 0.0), (201, 0.0), (202, 0.0), (206, 0.0), (207, 0.0), (208, 0.0), (211, 0.0), (218, 0.0), (225, 0.0), (230, 0.0), (231, 0.0), (236, 0.0), (241, 0.0), (242, 0.0), (245, 0.0), (247, 0.0), (250, 0.0), (251, 0.0), (258, 0.0), (261, 0.0), (262, 0.0), (263, 0.0), (265, 0.0), (269, 0.0), (273, 0.0), (274, 0.0), (278, 0.0), (280, 0.0), (282, 0.0), (289, 0.0), (291, 0.0), (292, 0.0), (299, 0.0), (304, 0.0), (305, 0.0), (307, 0.0), (309, 0.0), (311, 0.0), (320, 0.0), (321, 0.0), (330, 0.0), (332, 0.0), (333, 0.0), (335, 0.0), (337, 0.0), (339, 0.0), (346, 0.0), (347, 0.0), (348, 0.0), (349, 0.0), (350, 0.0), (353, 0.0), (356, 0.0), (359, 0.0), (360, 0.0), (361, 0.0), (363, 0.0), (364, 0.0), (365, 0.0), (374, 0.0), (376, 0.0), (377, 0.0), (378, 0.0), (381, 0.0), (383, 0.0), (392, 0.0), (393, 0.0), (397, 0.0), (399, 0.0), (403, 0.0), (407, 0.0), (409, 0.0), (411, 0.0), (412, 0.0), (413, 0.0), (415, 0.0), (417, 0.0), (419, 0.0), (428, 0.0), (430, 0.0), (431, 0.0), (435, 0.0), (439, 0.0), (441, 0.0), (442, 0.0), (443, 0.0), (445, 0.0), (449, 0.0), (455, 0.0), (457, 0.0), (458, 0.0), (459, 0.0), (462, 0.0), (464, 0.0), (467, 0.0), (470, 0.0), (471, 0.0), (474, 0.0), (477, 0.0), (478, 0.0), (479, 0.0), (480, 0.0), (483, 0.0), (485, 0.0), (486, 0.0), (487, 0.0), (488, 0.0), (489, 0.0), (498, 0.0), (499, 0.0), (501, 0.0), (502, 0.0), (503, 0.0), (504, 0.0), (505, 0.0), (506, 0.0), (507, 0.0), (508, 0.0), (513, 0.0), (514, 0.0), (515, 0.0), (519, 0.0), (523, 0.0), (524, 0.0), (530, 0.0), (531, 0.0), (534, 0.0), (538, 0.0), (539, 0.0), (544, 0.0), (547, 0.0), (548, 0.0), (549, 0.0), (551, 0.0), (554, 0.0), (561, 0.0), (562, 0.0), (563, 0.0), (565, 0.0), (567, 0.0), (569, 0.0), (571, 0.0), (573, 0.0), (574, 0.0), (579, 0.0), (582, 0.0), (583, 0.0), (584, 0.0), (586, 0.0), (589, 0.0), (590, 0.0), (591, 0.0), (594, 0.0), (595, 0.0), (602, 0.0), (605, 0.0), (606, 0.0), (607, 0.0), (608, 0.0), (610, 0.0), (611, 0.0), (620, 0.0), (622, 0.0), (630, 0.0), (633, 0.0), (634, 0.0), (635, 0.0), (637, 0.0), (638, 0.0), (641, 0.0), (643, 0.0), (645, 0.0), (646, 0.0), (647, 0.0), (648, 0.0), (651, 0.0), (652, 0.0), (653, 0.0), (655, 0.0), (656, 0.0), (658, 0.0), (662, 0.0), (664, 0.0), (665, 0.0), (666, 0.0), (667, 0.0), (668, 0.0), (669, 0.0), (670, 0.0), (671, 0.0), (677, 0.0), (681, 0.0), (682, 0.0), (684, 0.0), (686, 0.0), (688, 0.0), (689, 0.0), (691, 0.0), (692, 0.0), (694, 0.0), (695, 0.0), (700, 0.0), (701, 0.0), (703, 0.0), (709, 0.0), (711, 0.0), (713, 0.0), (715, 0.0), (716, 0.0), (719, 0.0), (720, 0.0), (721, 0.0), (723, 0.0), (725, 0.0), (726, 0.0), (734, 0.0), (735, 0.0), (738, 0.0), (742, 0.0), (743, 0.0), (744, 0.0), (747, 0.0), (748, 0.0), (749, 0.0), (750, 0.0), (751, 0.0), (752, 0.0), (754, 0.0), (756, 0.0), (757, 0.0), (760, 0.0), (765, 0.0), (768, 0.0), (776, 0.0), (778, 0.0), (783, 0.0), (785, 0.0), (788, 0.0), (790, 0.0), (792, 0.0), (793, 0.0), (795, 0.0), (797, 0.0), (800, 0.0), (801, 0.0), (804, 0.0), (808, 0.0), (811, 0.0), (812, 0.0), (813, 0.0), (814, 0.0), (815, 0.0), (816, 0.0), (817, 0.0), (818, 0.0), (820, 0.0), (823, 0.0), (824, 0.0), (825, 0.0), (826, 0.0), (829, 0.0), (830, 0.0), (832, 0.0), (836, 0.0), (838, 0.0), (839, 0.0), (840, 0.0), (841, 0.0), (842, 0.0), (846, 0.0), (847, 0.0), (848, 0.0), (849, 0.0), (851, 0.0), (857, 0.0), (859, 0.0), (861, 0.0), (863, 0.0), (865, 0.0), (866, 0.0), (870, 0.0), (873, 0.0), (874, 0.0), (876, 0.0), (877, 0.0), (881, 0.0), (882, 0.0), (883, 0.0), (885, 0.0), (888, 0.0), (889, 0.0), (891, 0.0), (896, 0.0), (899, 0.0), (900, 0.0), (902, 0.0), (905, 0.0), (906, 0.0), (907, 0.0), (909, 0.0), (910, 0.0), (915, 0.0), (922, 0.0), (926, 0.0), (930, 0.0), (931, 0.0), (933, 0.0), (937, 0.0), (945, 0.0), (947, 0.0), (949, 0.0), (955, 0.0), (957, 0.0), (959, 0.0), (960, 0.0), (963, 0.0), (964, 0.0), (966, 0.0), (970, 0.0), (971, 0.0), (972, 0.0), (973, 0.0), (974, 0.0), (975, 0.0), (976, 0.0), (977, 0.0), (980, 0.0), (981, 0.0), (984, 0.0), (985, 0.0), (986, 0.0), (989, 0.0), (991, 0.0), (992, 0.0), (994, 0.0), (995, 0.0), (996, 0.0), (998, 0.0), (999, 0.0)]

In [51]:
# Printing the top 5 similar movies
j = 0
print(f'The 5 most recomended movies to {title} are :\n')
for item in sorted_scores:
  movie_title = df[df.Movie_id == item[0]]['Title'].values[0]
  print(f'{j+1}. {movie_title}')
  j = j+1
  if j>4:
    break

The 5 most recomended movies to The Avengers are :

1. Avengers: Age of Ultron
2. Captain America: Civil War
3. Captain America: The Winter Soldier
4. Iron Man
5. Iron Man 2